apiVersion: v1
kind: ConfigMap
metadata:
  name: glances-config
  namespace: default
data:
  glance.yml: |
    pages:
      - name: Home
        columns:
          - size: small
            widgets:
              - type: bookmarks
                groups:
                  - title: Services
                    links:
                      - title: Proxmox
                        url: https://pve.stiforr.lan:8006
                      - title: Sonarr
                        url: https://sonarr.internal.stiforr.com
                      - title: Radarr
                        url: https://radarr.internal.stiforr.com
                      - title: Prowlarr
                        url: https://prowlarr.internal.stiforr.com
                  - title: Entertainment
                    color: 10 70 50
                    links:
                      - title: YouTube
                        url: https://www.youtube.com/
                  - title: Social
                    color: 200 50 50
                    links:
                      - title: Reddit
                        url: https://www.reddit.com/
              - type: calendar

          - size: full
            widgets:
              - type: search
                search-engine: duckduckgo
                bangs:
                  - title: YouTube
                    shortcut: "!yt"
                    url: https://www.youtube.com/results?search_query={QUERY}
              - type: videos
                channels:
                  - UC1D3yD4wlPMico0dss264XA # NileBlue
                  - UC7_YxT-KID8kRbqZo7MyscQ # Markiplier
              - type: reddit
                subreddit: selfhosted

          - size: small
            widgets:
              - type: weather
                location: ${SECRET_LOCATION}

      - name: Cloudron
        columns:
          - size: full
            widgets:
              - type: iframe
                source: https://my.${SECRET_DOMAIN
                height: 800
