---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app glances
  namespace: default
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.5.1
  interval: 24h0m0s
  releaseName: *app
  targetNamespace: default
  values:
    global:
      fullnameOverride: *app
    controllers:
      main:
        enabled: true
        type: deployment
        annotations:
          configmap.reloader.stakater.com/reload: "glances-config"
        containers:
          glances:
            image:
              repository: glanceapp/glance
              tag: v0.6.4
            args:
              - --config
              - /config/glance.yml
    serviceAccount:
      create: true
    service:
      glances:
        enabled: true
        controller: main
        primary: true
        ports:
          http:
            enabled: true
            primary: true
            port: 8080
    ingress:
      glances:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        className: internal
        hosts:
          - host: &host glances.internal.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: *app
                  port: 8080
        tls:
          - secretName: glances-tls
            hosts:
              - *host
    persistence:
      config:
        enabled: true
        type: configMap
        name: glances-config
        advancedMounts:
          main:
            glances:
              - path: /config
                readOnly: false
    rbac:
      roles:
        glance-role:
          enabled: true
          type: ClusterRole
          rules:
            - apiGroups: [""]
              resources: ["*"]
              verbs: ["get", "list", "watch"]
      binding:
        glance-binding:
          enabled: true
          type: ClusterRoleBinding
          roleRef:
            name: glance-role
            kind: ClusterRole
          subjects:
            - identifier: default
