---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: robusta
  namespace: observability
spec:
  chart:
    spec:
      chart: robusta
      interval: 24h0m0s
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: robusta
        namespace: flux-system
      version: 0.20.0
  interval: 24h0m0s
  releaseName: robusta
  targetNamespace: observability
  install:
    remediation:
      retries: 5
      remediateLastFailure: true
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
  values:
    clusterName: home-kubernetes
    enablePlatformPlaybooks: true
    enablePrometheusStack: true
    enabledManagedConfiguration: true
    enableHolmesGPT: true
    holmes:
      customClusterRoleRules:
        - apiGroups:
            - "source.toolkit.fluxcd.io"
            - "kustomize.toolkit.fluxcd.io"
            - "helm.toolkit.fluxcd.io"
          resources:
            - "*"
          verbs:
            - "get"
            - "list"
            - "watch"
      additionalEnvVars:
        - name: ROBUSTA_AI
          value: "true"
        - name: ROBUSTA_UI_TOKEN
          valueFrom:
            secretKeyRef:
              key: SINK_TOKEN
              name: robusta-secrets
    globalConfig:
      account_id: "{{ env.ACCOUNT_ID }}"
      signing_key: "{{ env.SIGNING_KEY }}"
    isSmallCluster: false
    runner:
      additional_env_vars:
        - name: SIGNING_KEY
          valueFrom:
            secretKeyRef:
              key: SIGNING_KEY
              name: robusta-secrets
        - name: ACCOUNT_ID
          valueFrom:
            secretKeyRef:
              key: ACCOUNT_ID
              name: robusta-secrets
        - name: SINK_TOKEN
          valueFrom:
            secretKeyRef:
              key: SINK_TOKEN
              name: robusta-secrets
      sendAdditionalTelemetry: false
    sinksConfig:
      - robusta_sink:
          name: robusta_ui_sink
          token: "{{ env.SINK_TOKEN }}"
