# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Private
.private
.bin
# Ansible
.venv*
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# wiki
wiki
# Bootstrap
/config.yaml
longhorn/.helmignore
longhorn/app-readme.md
longhorn/Chart.yaml
longhorn/ocp-readme.md
longhorn/questions.yaml
longhorn/README.md
longhorn/README.md.gotmpl
longhorn/values.yaml
longhorn/templates/_helpers.tpl
longhorn/templates/clusterrole.yaml
longhorn/templates/clusterrolebinding.yaml
longhorn/templates/crds.yaml
longhorn/templates/daemonset-sa.yaml
longhorn/templates/default-resource.yaml
longhorn/templates/default-setting.yaml
longhorn/templates/deployment-driver.yaml
longhorn/templates/deployment-ui.yaml
longhorn/templates/ingress.yaml
longhorn/templates/NOTES.txt
longhorn/templates/postupgrade-job.yaml
longhorn/templates/preupgrade-job.yaml
longhorn/templates/priorityclass.yaml
longhorn/templates/psp.yaml
longhorn/templates/registry-secret.yaml
longhorn/templates/serviceaccount.yaml
longhorn/templates/servicemonitor.yaml
longhorn/templates/services.yaml
longhorn/templates/storageclass.yaml
longhorn/templates/tls-secrets.yaml
longhorn/templates/uninstall-job.yaml
longhorn/templates/validate-psp-install.yaml
longhorn/templates/network-policies/backing-image-data-source-network-policy.yaml
longhorn/templates/network-policies/backing-image-manager-network-policy.yaml
longhorn/templates/network-policies/instance-manager-networking.yaml
longhorn/templates/network-policies/manager-network-policy.yaml
longhorn/templates/network-policies/recovery-backend-network-policy.yaml
longhorn/templates/network-policies/ui-frontend-network-policy.yaml
longhorn/templates/network-policies/webhook-network-policy.yaml
