---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: netdata
  namespace: default
spec:
  chart:
    spec:
      chart: netdata
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: netdata
        namespace: flux-system
      version: 3.7.138
  interval: 1h0m0s
  targetNamespace: default
  values:
    rbac:
      pspEnabled: false
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-production
      hosts:
        - netdata.internal.${SECRET_DOMAIN}
      tls:
        - secretName: netdata-tls
          hosts:
            - netdata.internal.${SECRET_DOMAIN}