---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: authentik
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.4.1
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
      interval: 30m
  values:
    global:
      envFrom:
        - secretRef:
            name: authentik-secret

    authentik:
      postgresql:
        host: authentik-postgresql
        port: 5432
        user: authentik
        password: "${POSTGRES_PASS}"
        name: authentik
      redis:
        host: authentik-redis-master

    server:
      ingress:
        enabled: true
        ingressClassName: internal
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - auth.internal.${SECRET_DOMAIN}
        tls:
          - hosts:
              - auth.internal.${SECRET_DOMAIN}
            secretName: authentik-tls

    postgresql:
      enabled: true
      auth:
        password: "${POSTGRES_PASS}"

    redis:
      enabled: true
      auth:
        enabled: false