---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: authentik
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2024.2.3
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
      interval: 30m
  values:
    global:
      envFrom:
        - secretRef:
            name: authentik-secret

    authentik:
      enabled: true

    server:
      ingress:
        enabled: true
        ingressClassName: internal
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - auth.internal.${SECRET_DOMAIN}
        tls:
          - hosts:
              - auth.internal.${SECRET_DOMAIN}
            secretName: authentik-tls

    postgresql:
      enabled: true
      auth:
        existingSecret: authentik-secret
        secretKeys:
          adminPasswordKey: POSTGRES_PASSWORD
          userPasswordKey: POSTGRES_PASSWORD
      persistence:
        enabled: true
        storageClass: longhorn
        accessModes:
          - ReadWriteOnce
        size: 10Gi

    redis:
      enabled: true
      auth:
        enabled: false