---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: default
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.4.0
  interval: 12h0m0s
  releaseName: sonarr
  targetNamespace: default
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          sonarr:
            env:
              - name: TZ
                value: America/Chicago
              - name: PUID
                value: 1000
              - name: PGID
                value: 1000
              - name: DOCKER_MODS
                value: ghcr.io/themepark-dev/theme.park:sonarr
              - name: TP_THEME
                value: overseerr
            image:
              repository: linuxserver/sonarr
              tag: 4.0.14
            resources:
              requests:
                cpu: 100m
                memory: 500m
        enabled: true
        type: deployment
    global:
      fullnameOverride: sonarr
      labels:
        app: sonarr
    ingress:
      sonarr:
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          # nginx.ingress.kubernetes.io/auth-url: |-
          #     http://ak-outpost-authentik-embedded-outpost.default.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx
          # # If you're using domain-level auth, use the authentication URL instead of the application URL
          # nginx.ingress.kubernetes.io/auth-signin: |-
          #     https://sonarr.internal.${SECRET_DOMAIN}/outpost.goauthentik.io/start?rd=$scheme://$http_host$escaped_request_uri
          # nginx.ingress.kubernetes.io/auth-response-headers: |-
          #     Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-entitlements,X-authentik-email,X-authentik-name,X-authentik-uid
          # nginx.ingress.kubernetes.io/auth-snippet: |
          #     proxy_set_header X-Forwarded-Host $http_host;
        className: internal
        enabled: true
        hosts:
          - host: sonarr.internal.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: sonarr
        tls:
          - hosts:
              - sonarr.internal.${SECRET_DOMAIN}
            secretName: sonarr-tls
    persistence:
      config:
        accessMode: ReadWriteOnce
        enabled: true
        size: 1Gi
        storageClass: longhorn
        type: persistentVolumeClaim
      data:
        enabled: true
        existingClaim: media-pvc-ssd
      downloads:
        enabled: true
        existingClaim: downloads-pvc-ssd
    service:
      sonarr:
        controller: main
        enabled: true
        ports:
          http:
            appProtocol: http
            enabled: true
            port: 8989
            protocol: HTTP
    serviceAccount:
      create: true
