---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: default
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.4.0
  interval: 12h0m0s
  releaseName: sonarr
  targetNamespace: default
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          sonarr:
            env:
              - name: TZ
                value: America/Chicago
              - name: PUID
                value: 1000
              - name: PGID
                value: 1000
            image:
              repository: linuxserver/sonarr
              tag: 4.0.10.2544-ls258
            resources:
              requests:
                cpu: 100m
                memory: 500m
        enabled: true
        type: deployment
    global:
      fullnameOverride: sonarr
      labels:
        app: sonarr
    ingress:
      sonarr:
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          nginx.ingress.kubernetes.io/enable-opentelemetry: "true"
          nginx.ingress.kubernetes.io/otel-service-name: sonarr
          nginx.ingress.kubernetes.io/service-upstream: "false"
        className: internal
        enabled: true
        hosts:
          - host: sonarr.internal.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: sonarr
        tls:
          - hosts:
              - sonarr.internal.${SECRET_DOMAIN}
            secretName: sonarr-tls
    persistence:
      config:
        accessMode: ReadWriteOnce
        enabled: true
        size: 1Gi
        storageClass: nfs-client-ssd
        type: persistentVolumeClaim
      data:
        enabled: true
        existingClaim: media-pvc-ssd
    service:
      sonarr:
        controller: main
        enabled: true
        ports:
          http:
            appProtocol: http
            enabled: true
            port: 8989
            protocol: HTTP
    serviceAccount:
      create: true
