apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
  namespace: observability
spec:
  chart:
    spec:
      chart: loki-stack
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      version: 2.10.2
  interval: 1h0m0s
  targetNamespace: observability
  values:
    grafana:
      enabled: true
      image:
        tag: 12.0.1
      ingress:
        enabled: true
        ingressClassName: internal
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - grafana.internal.${SECRET_DOMAIN}
        tls:
          - secretName: grafana-tls
            hosts:
              - grafana.internal.${SECRET_DOMAIN}
    promtail:
      sidecar:
        configReloader:
          enabled: true
    loki:
      image:
        tag: 3.5.1
      persistence:
        enabled: true
        storageClassName: longhorn
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - host: loki.internal.${SECRET_DOMAIN}
            paths:
              - /
        tls:
          - secretName: loki-tls
            hosts:
              - loki.internal.${SECRET_DOMAIN}