---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn-release
  namespace: longhorn-system
spec:
  chart:
    spec:
      chart: longhorn
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: longhorn-repo
        namespace: flux-system
      version: v1.8.1
  interval: 60m0s
  values:
    longhornUI:
      replicas: 1
    persistence:
      defaultClassReplicaCount: 1
      defaultClass: true
    csi:
      attacherReplicaCount: 1
      provisionerReplicaCount: 1
      resizerReplicaCount: 1
      snapshotterReplicaCount: 1
    defaultSettings:
      defaultReplicaCount: 1
    ingress:
      enabled: true
      ingressClassName: internal
      host: longhorn.internal.${SECRET_DOMAIN}
      tls: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-production
    networkPolicies:
      enabled: false
    metrics:
      serviceMonitor:
        enabled: false
